<%# app/views/lists/index.html.erb %>

<div class="banner-container">
  <div class="banner-nav-bar">
    <div>
      <h1>
        <i class="fas fa-play"></i>
        <span class="logo-title">Watch List</span>
      </h1>
    </div>
  </div>
  <div class="banner-info">
    <div>
      <p class="banner-title">Welcome to Watch List</p>
      <p class="banner-subtitle">Discover and manage your movie lists</p>
      <div class="btn-infos">
        <div class="btn-more-info">
          <%= link_to "Create a New List", new_list_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="lists">
    <h2>My Lists</h2>
    <% if @lists.any? %>
      <% @lists.each do |list| %>
        <div class="left-border">
          <div class="col-lg-6">
            <h3 class="list-title"><%= list.name %> List</h3>
            <p class="click-text-content">
              Explore your list and add more movies.
            </p>
            <span class="click">
              <%= link_to "View List", list_path(list), class: "btn-click" %>
            </span>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No lists found. <%= link_to "Create one", new_list_path %></p>
    <% end %>
  </div>
</div>
