.btn-vintage {
  background-color: #A67B5B !important;  // vintage brown
  border-color: #A67B5B !important;
  color: #fff !important;
}

.btn-vintage:hover {
  background-color: #956E52 !important;
  border-color: #956E52 !important;
}
